body{

  border: solid red;
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f6f9;
}

.header {
display: flex;
align-items: center;
justify-content: center;
background-color: #E78B48;
color: #102E50;
padding: 20px;
flex-direction: column;
text-align: center;
}

.logo {
 max-width: 100px;
 height: auto;
 margin: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

/* Budget List jsx css files */

.budget-container {
 
  padding : 20px;
  max-width: 800px;
  margin: auto;
}

.summary {
  
  background-color: #e6f7ff;
  border-radius: 8px;
  padding: 15px;
margin-bottom: 20px;
text-align: center;
}

.add-expense-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.add-expense-form select, .add-expense-form input {
  padding: 10px;
  font-size: 16px;
}

.add-expense-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.budget-list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.budget-item {
  background-color: #fff8e1;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0,0,0.1);
}

@media (max-width: 600px) {
  .add-expense-form {
    flex-direction: column;
    align-items: center;
  }
  
}

/* Reset Budget Button css here */
.reset-btn-container {
 margin: 20px 0;
 text-align: center;
}
.reset-btn {
  background-color: #e63946;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
.reset-btn:hover {
background-color: #c21e2b;
}

